.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html {
  height: 100%;
}

body {
  /* background-color: rgb(129, 127, 127) !important; */
  background-image: url("https://wallpaperaccess.com/full/856733.jpg");
  /* background-image: url("https://i.pinimg.com/originals/6a/d2/94/6ad29461a999ed84dc0911d045d3eb24.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 100%;
  color: gold !important;
  font-family: Arial, sans-serif !important;
}

.navbar {
  margin-bottom: 15px;
}

.container-fluid {
  position: fixed;
}

.card-body {
  background-color: rgb(114, 115, 119);
}

.tracks-list {
  float: left;
  width: 100%;
  height: 75vh;
  overflow: scroll;
  margin-top: 10px;
}

.list-group-item {
  display: inline-block;
  border: 1px solid rgb(224, 224, 68) !important;
}

.track-info {
  text-align: left;
}

.track-info #track-number {
  margin-right: 10px;
}

.track-info #track-artists {
  font-size: small;
  margin-left: 30px;
}

.playlist-details {
  height: auto;
  margin-bottom: 20px;
  position: relative;
}

.playlist-column {
  float: left;
  margin-right: 0;
}

.chat-column {
  overflow: scroll;
}

.playlist-cover {
  float: left;
}

.chat-box {
  width: 100%;
  height: 65%;
  border: 1px solid green;
  text-align: left;
  overflow: scroll;
  padding: 5px;
  color: black;
  background-color: rgb(247, 252, 247);
}

.audio-player {
  position: relative;
  bottom: -120px;
}

.dropdown {
  margin-left: auto;
}

.popover-header {
  color: black;
}

#leave-room-btn {
  margin-right: 10px;
}

#brand-name {
  font-size: 1.50rem;
  margin-left: 5px;
}

.enter-room-container {
  background-color: rgb(114, 115, 119) !important;
  
}

audio { 
  width: 500px; 
  box-shadow: 5px 5px 20px rgba(43, 44, 42, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}
